<section id="aboutme-section">
<div class="overflow-hidden bg-white py-24 sm:py-32">

    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-lg">
            <h2 class="text-base font-semibold leading-7 text-indigo-600">About Me</h2>
            <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Innovative Solutions Architect: Merging Technology for Real-World Impact</p>
            <p class="mt-6 text-lg leading-8 text-gray-600">Hello, I'm Ajay, specializing in crafting digital solutions ranging from Android apps to web apps and REST services. Fueled by a fervent passion for innovation and entrepreneurship, I'm committed to addressing real-life challenges. Presently, my focus lies in constructing inclusive products that merge technology with impactful solutions.</p>

            <h2 class="text-base mt-5 font-semibold leading-7 text-indigo-600">Here are a few technologies I've been actively developing :</h2>

            <!-- Technology List -->
           
            <ul class="mt-6 max-w-xl space-y-2 text-base leading-7 text-gray-600 lg:max-w-none flex flex-wrap justify-between">
              <!-- First Column -->
              <li class="relative flex-1 mt-2">
                  <ul>
                      <li class="font-semibold text-gray-900 flex items-start gap-3">
                          <div class="w-5 flex-none text-indigo-600" fill="currentColor" aria-hidden="true">▹ </div>
                          <p class="text-sm font-semibold leading-6 text-gray-900">Node Js</p>
                      </li>
                      <li class="font-semibold text-gray-900 flex items-start gap-3">
                          <div class="w-5 flex-none text-indigo-600" fill="currentColor" aria-hidden="true">▹ </div>
                          <p class="text-sm font-semibold leading-6 text-gray-900">React Js</p>
                      </li>
                      <li class="font-semibold text-gray-900 flex items-start gap-3">
                          <div class="w-5 flex-none text-indigo-600" fill="currentColor" aria-hidden="true">▹ </div>
                          <p class="text-sm font-semibold leading-6 text-gray-900">Express JS</p>
                      </li>
                      <li class="font-semibold text-gray-900 flex items-start gap-3">
                          <div class="w-5 flex-none text-indigo-600" fill="currentColor" aria-hidden="true">▹ </div>
                          <p class="text-sm font-semibold leading-6 text-gray-900">Tailwind Css</p>
                      </li>
                  </ul>
              </li>
          
              <!-- Second Column -->
              <li class="relative pl-9 flex-1">
                  <ul>
                      <li class="font-semibold text-gray-900 flex items-start gap-3">
                          <div class="w-5 flex-none text-indigo-600" fill="currentColor" aria-hidden="true">▹ </div>
                          <p class="text-sm font-semibold leading-6 text-gray-900">Spring Boot</p>
                      </li>
                      <li class="inline-flex font-semibold text-gray-900 items-start gap-3">
                          <div class="w-5 flex-none text-indigo-600" fill="currentColor" aria-hidden="true">▹ </div>
                          <p class="text-sm font-semibold leading-6 text-gray-900">Django</p>
                      </li>
                      <li class="font-semibold text-gray-900 flex items-start gap-3">
                          <div class="w-5 flex-none text-indigo-600" fill="currentColor" aria-hidden="true">▹ </div>
                          <p class="text-sm font-semibold leading-6 text-gray-900">REST API</p>
                      </li>
                      <li class="font-semibold text-gray-900 flex items-start gap-3">
                          <div class="w-5 flex-none text-indigo-600" fill="currentColor" aria-hidden="true">▹ </div>
                          <p class="text-sm font-semibold leading-6 text-gray-900">Cloud (OCI, AWS)</p>
                      </li>
                  </ul>
              </li>
          
              <!-- Third Column -->
              <li class="relative pl-9 flex-1">
                  <ul>
                      <li class="font-semibold text-gray-900 flex items-start gap-3">
                          <div class="w-5 flex-none text-indigo-600" fill="currentColor" aria-hidden="true">▹ </div>
                          <p class="text-sm font-semibold leading-6 text-gray-900">Git</p>
                      </li>
                      <li class="inline-flex font-semibold text-gray-900 items-start gap-3">
                          <div class="w-5 flex-none text-indigo-600" fill="currentColor" aria-hidden="true">▹ </div>
                          <p class="text-sm font-semibold leading-6 text-gray-900">Linux sh</p>
                      </li>
                      <li class="font-semibold text-gray-900 flex items-start gap-3">
                          <div class="w-5 flex-none text-indigo-600" fill="currentColor" aria-hidden="true">▹ </div>
                          <p class="text-sm font-semibold leading-6 text-gray-900">Devops</p>
                      </li>
                      <li class="font-semibold text-gray-900 flex items-start gap-3">
                          <div class="w-5 flex-none text-indigo-600" fill="currentColor" aria-hidden="true">▹ </div>
                          <p class="text-sm font-semibold leading-6 text-gray-900">Android Development</p>
                      </li>
                  </ul>
              </li>
          </ul>
          
          
          

            
             

          </div>
        </div>
        <img loading="lazy"id="profileimage"  style="display: none;"  alt="Product screenshot" class="w-full max-w-[35rem] rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:max-w-[40rem] md:ml-auto" width="400" height="200">
      </div>
    </div>
  </div>
</section>
  
