<div class="overflow-hidden bg-white py-24 sm:py-32">

    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-lg">
            <h2 class="text-base font-semibold leading-7 text-indigo-600">About Me</h2>
            <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Driving Seamless Development Processes for Project Excellence</p>
            <p class="mt-6 text-lg leading-8 text-gray-600">Hello, I'm Ajay. I specialize in crafting digital solutions, from Android apps to web apps and REST services. With a passion for innovation and entrepreneurship, I'm dedicated to tackling real-life problems. Currently, I focus on building inclusive products at the intersection of technology and impact</p>

            <h2 class="text-base mt-5 font-semibold leading-7 text-indigo-600">Here are a few technologies I’ve been working with recently:</h2>
           
           <dl class="mt-10 max-w-xl space-y-2 text-base leading-7 text-gray-600 lg:max-w-none flex flex-wrap justify-between">
            
              
              
              <div class="relative pl-9 flex-1">
                <dt class="inline font-semibold text-gray-900">
                    <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path d="M12 2L1 7l11 5 10-5-11-5zM2 10.53l10 4.47 9.99-4.47L12 6.06 2 10.53zm0 8.94V17.5l10 4.47 9.99-4.47v2.97l-10 4.47-9.99-4.47z"/>
                    </svg>
                    OCI CN Cloud
                </dt>
                <dt class="inline font-semibold text-gray-900">
                  <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path d="M12 2L1 7l11 5 10-5-11-5zM2 10.53l10 4.47 9.99-4.47L12 6.06 2 10.53zm0 8.94V17.5l10 4.47 9.99-4.47v2.97l-10 4.47-9.99-4.47z"/>
                  </svg>
                  OCI CN Cloud
              </dt>
               
            </div>
          
            <div class="relative pl-9 flex-1">
              <dt class="inline font-semibold text-gray-900">
                  <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path d="M12 2L1 7l11 5 10-5-11-5zM2 10.53l10 4.47 9.99-4.47L12 6.06 2 10.53zm0 8.94V17.5l10 4.47 9.99-4.47v2.97l-10 4.47-9.99-4.47z"/>
                  </svg>
                  JavaScript (ES6+)
              </dt>
              <dt class="inline font-semibold text-gray-900">
                <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M12 2L1 7l11 5 10-5-11-5zM2 10.53l10 4.47 9.99-4.47L12 6.06 2 10.53zm0 8.94V17.5l10 4.47 9.99-4.47v2.97l-10 4.47-9.99-4.47z"/>
                </svg>
                JavaScript (ES6+)
            </dt>
          </div>
          <div class="relative pl-9 flex-1">
            <dt class="inline font-semibold text-gray-900">
                <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M12 2L1 7l11 5 10-5-11-5zM2 10.53l10 4.47 9.99-4.47L12 6.06 2 10.53zm0 8.94V17.5l10 4.47 9.99-4.47v2.97l-10 4.47-9.99-4.47z"/>
                </svg>
                JavaScript (ES6+)
            </dt>
            <dt class="inline font-semibold text-gray-900">
              <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path d="M12 2L1 7l11 5 10-5-11-5zM2 10.53l10 4.47 9.99-4.47L12 6.06 2 10.53zm0 8.94V17.5l10 4.47 9.99-4.47v2.97l-10 4.47-9.99-4.47z"/>
              </svg>
              JavaScript (ES6+)
          </dt>
        </div>
    
        </dl>
             

          </div>
        </div>
        <img loading="lazy" src="https://ajaypv.me/assets/background.087589e6.jpg" alt="Product screenshot" class="w-full max-w-[35rem] rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:max-w-[40rem] md:ml-auto">
      </div>
    </div>
  </div>
  
  
