<div class="overflow-hidden bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-lg">
            <h2 class="text-base font-semibold leading-7 text-indigo-600">About Me</h2>
            <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Driving Seamless Development Processes for Project Excellence</p>
            <p class="mt-6 text-lg leading-8 text-gray-600">I'm Ajay PV, a recent graduate in Computer Science & Engineering from New Horizon College of Engineering, Bangalore, Karnataka. With a strong foundation in software development and a passion for innovation, I specialize in full-stack development, proficient in a wide array of technologies including Python, Java, React, and more. I'm dedicated to leveraging my skills and knowledge to drive impactful solutions and contribute to exciting projects in the tech industry.</p>
            <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900">
                  <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M12 2L1 7l11 5 10-5-11-5zM2 10.53l10 4.47 9.99-4.47L12 6.06 2 10.53zm0 8.94V17.5l10 4.47 9.99-4.47v2.97l-10 4.47-9.99-4.47z"/>
                  </svg>
                  Push to deploy.
                </dt>
                <dd class="inline">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.</dd>
              </div>
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900">
                  <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M12 2L1 7l11 5 10-5-11-5zm-1 8.35L2.5 8.5l8.5 3.85v6.3l-3.17 1.45v-5.4l-3.17 1.45V7.05l3.17 1.45v5.4l5.33-2.43v-6.3zm1 8.3l8.5-3.85-8.5-3.85v2.55l5.33 2.43v5.4l3.17-1.45v-5.4l3.17 1.45v5.4l-3.17-1.45v-2.55z"/>
                  </svg>
                  SSL certificates.
                </dt>
                <dd class="inline">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo.</dd>
              </div>
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900">
                  <svg class="absolute left-1 top-1 h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M16.37 9.25l-1.87 1.87L12 9.49l-2.5 2.5-1.4-1.4 4.9-4.89 4.9 4.9zM7.46 15.38l1.4 1.4L12 14.51l2.5 2.5 1.4-1.4-4.9-4.9-4.9 4.9z"/>
                    <path fill-rule="evenodd" d="M4 13a2 2 0 100 4h12a2 2 0 100-4H4zm11.24 2a.75.75 0 01.75-.75H16a.75.75 0 01.75.75v.01a.75.75 0 01-.75.75h-.01a.75.75 0 01-.75-.75V15zm-2.25-.75a.75.75 0 00-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 00.75-.75V15a.75.75 0 00-.75-.75h-.01z" clip-rule="evenodd" />
                  </svg>
                  Database backups.
                </dt>
                <dd class="inline">Ac tincidunt sapien vehicula erat auctor pellentesque rhoncus. Et magna sit morbi lobortis.</dd>
              </div>
            </dl>
          </div>
        </div>
        <img loading="lazy" src="https://ajaypv.me/assets/background.087589e6.jpg" alt="Product screenshot" class="w-full max-w-[35rem] rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:max-w-[40rem] md:ml-auto">
      </div>
    </div>
  </div>
  
  
