
<header class="absolute inset-x-0 top-0 z-50">
  <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">

    <div class="flex lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5 flex">
        <span class="sr-only">AJ</span>

          <svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg" width="16" height="16" class=" h-6 w-6 flex-none text-indigo-600"  fill="currentColor" aria-hidden="true">
           
          <path d="M416 416h-25.81L253.1 52.76c-4.688-12.47-16.57-20.76-29.91-20.76s-25.34 8.289-30.02 20.76L57.81 416H32c-17.67 0-32 14.31-32 32s14.33 32 32 32h96c17.67 0 32-14.31 32-32s-14.33-32-32-32H126.2l17.1-48h159.6l17.1 48H320c-17.67 0-32 14.31-32 32s14.33 32 32 32h96c17.67 0 32-14.31 32-32S433.7 416 416 416zM168.2 304L224 155.1l55.82 148.9H168.2z"/></svg>
            
          <svg viewBox="0 0 320 512" xmlns="http://www.w3.org/2000/svg"  width="16" height="16" class=" h-6 w-6 flex-none text-indigo-600"  fill="currentColor" aria-hidden="true" >
          <path d="M320 64.01v259.4c0 86.36-71.78 156.6-160 156.6s-160-70.26-160-156.6V288c0-17.67 14.31-32 32-32s32 14.33 32 32v35.38c0 51.08 43.06 92.63 96 92.63s96-41.55 96-92.63V64.01c0-17.67 14.31-32 32-32S320 46.34 320 64.01z"/></svg>
        </a>
    </div>

    <div class="flex lg:hidden">
      <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700" id="toggle-menu">
        <span class="sr-only">Open main menu</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a href="#aboutme-section" class="text-sm font-semibold leading-6 text-gray-900 hover:text-indigo-600 transition-colors duration-300">About Me </a>
      <a href="#projects-section" class="text-sm font-semibold leading-6 text-gray-900 hover:text-indigo-600 transition-colors duration-300" >Projects</a>
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900 hover:text-indigo-600 transition-colors duration-300">Blogs</a>
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900 hover:text-indigo-600 transition-colors duration-300">Tools</a>
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900 hover:text-indigo-600 transition-colors duration-300">Contact</a>
    </div>
    
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <button href="#" class="text-sm font-semibold leading-6 text-gray-900 hover:text-indigo-700 focus:outline-none transition-colors duration-300">
        Resume<span class="" aria-hidden="true">&rarr;</span>
      </button>
    </div>
  </nav>






  <!-- Mobile menu, show/hide based on menu open state. -->
  <div class="lg:hidden hidden" role="dialog" aria-modal="true" id="mobile-menu">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-50"></div>
    <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
      <div class="flex items-center justify-between">
        <a href="#" class="-m-1.5 p-1.5 flex">
          <span class="sr-only">AJ</span>
  
            <svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg" width="16" height="16" class=" h-6 w-6 flex-none text-indigo-600"  fill="currentColor" aria-hidden="true">
            <path d="M416 416h-25.81L253.1 52.76c-4.688-12.47-16.57-20.76-29.91-20.76s-25.34 8.289-30.02 20.76L57.81 416H32c-17.67 0-32 14.31-32 32s14.33 32 32 32h96c17.67 0 32-14.31 32-32s-14.33-32-32-32H126.2l17.1-48h159.6l17.1 48H320c-17.67 0-32 14.31-32 32s14.33 32 32 32h96c17.67 0 32-14.31 32-32S433.7 416 416 416zM168.2 304L224 155.1l55.82 148.9H168.2z"/></svg>
              
            <svg viewBox="0 0 320 512" xmlns="http://www.w3.org/2000/svg"  width="16" height="16" class=" h-6 w-6 flex-none text-indigo-600"  fill="currentColor" aria-hidden="true" >
            <path d="M320 64.01v259.4c0 86.36-71.78 156.6-160 156.6s-160-70.26-160-156.6V288c0-17.67 14.31-32 32-32s32 14.33 32 32v35.38c0 51.08 43.06 92.63 96 92.63s96-41.55 96-92.63V64.01c0-17.67 14.31-32 32-32S320 46.34 320 64.01z"/></svg>
          </a>
        <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700" id="mvclosebutton">
          <span class="sr-only">Close menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <a href="#aboutme-section" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">About Me</a>
            <a href="#projects-sectio" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Projects</a>
            <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Marketplace</a>
            <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Company</a>
          </div>
          <div class="py-6">
            <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Resume</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>