
<header class="absolute inset-x-0 top-0 z-50">
  <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">

    <div class="flex lg:flex-1">
      <a href="/" class="flex">
        <span class="sr-only">AJ</span>
        <svg xmlns="http://www.w3.org/2000/svg" class=" text-indigo-600 " fill="currentColor" width="50" height="50"  viewBox="0 0 96 96" id="zap"><path stroke="4F46E5" stroke-linecap="round" stroke-width="5" d="M27.6111 47.0945L55.7577 9.65878C56.7625 8.32234 58.8702 9.38385 58.3947 10.9869L49.9189 39.5558C49.5386 40.8377 50.4991 42.1246 51.8363 42.1246H66.3281C68.7374 42.1246 70.1638 44.8214 68.8078 46.813L42.8073 85.0007C41.8427 86.4174 39.6397 85.3695 40.1301 83.7273L48.8678 54.4697C49.2508 53.187 48.2901 51.8974 46.9514 51.8974H30.009C27.5352 51.8974 26.1245 49.0718 27.6111 47.0945Z"></path></svg>
               </a>
    </div>

    <div class="flex lg:hidden">
      <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700" id="toggle-menu">
        <span class="sr-only">Open main menu</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a href="#aboutme-section" class="text-sm font-semibold leading-6 text-gray-900 hover:text-indigo-600 transition-colors duration-300">About Me </a>
      <a href="#projects-section" class="text-sm font-semibold leading-6 text-gray-900 hover:text-indigo-600 transition-colors duration-300" >Projects</a>
      <a href="#blogssection" class="text-sm font-semibold leading-6 text-gray-900 hover:text-indigo-600 transition-colors duration-300">Blogs</a>
      <a href="/timeline" class="text-sm font-semibold leading-6 text-gray-900 hover:text-indigo-600 transition-colors duration-300">Timelines</a>
      <a href="#footersection" class="text-sm font-semibold leading-6 text-gray-900 hover:text-indigo-600 transition-colors duration-300">Contact</a>
    </div>
    
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a href="https://firebasestorage.googleapis.com/v0/b/portfolio-4122d.appspot.com/o/GTC_AJAY_PV.docx?alt=media&token=bd8cd49d-8b03-49fc-a5e9-83493491cf7d">
      <button class="text-sm font-semibold leading-6 text-gray-900 hover:text-indigo-700 focus:outline-none transition-colors duration-300">
        Resume<span class="" aria-hidden="true">&rarr;</span>
      </button>
    </a>
    </div>
  </nav>






  <!-- Mobile menu, show/hide based on menu open state. -->
  <div class="lg:hidden hidden" role="dialog" aria-modal="true" id="mobile-menu">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-50"></div>
    <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
      <div class="flex items-center justify-between">
        <a href="#" class="-m-1.5 p-1.5 flex">
          <svg xmlns="http://www.w3.org/2000/svg" class=" text-indigo-600 " fill="currentColor" width="50" height="50"  viewBox="0 0 96 96" id="zap"><path stroke="4F46E5" stroke-linecap="round" stroke-width="5" d="M27.6111 47.0945L55.7577 9.65878C56.7625 8.32234 58.8702 9.38385 58.3947 10.9869L49.9189 39.5558C49.5386 40.8377 50.4991 42.1246 51.8363 42.1246H66.3281C68.7374 42.1246 70.1638 44.8214 68.8078 46.813L42.8073 85.0007C41.8427 86.4174 39.6397 85.3695 40.1301 83.7273L48.8678 54.4697C49.2508 53.187 48.2901 51.8974 46.9514 51.8974H30.009C27.5352 51.8974 26.1245 49.0718 27.6111 47.0945Z"></path></svg>
          </a>
        <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700" id="mvclosebutton">
          <span class="sr-only">Close menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <a href="#aboutme-section" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">About Me</a>
            <a href="#projects-sectio" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Projects</a>
            <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Blogs</a>
            <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Timeline</a>
          </div>
          <div class="py-6">
            <a href="https://firebasestorage.googleapis.com/v0/b/portfolio-4122d.appspot.com/o/GTC_AJAY_PV.docx?alt=media&token=bd8cd49d-8b03-49fc-a5e9-83493491cf7d" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Resume</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>