 <section id="projects-section">



 <!-- First project: Open Dots -->
<div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
    <div class="absolute inset-0 -z-10 overflow-hidden">
      <svg class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]" aria-hidden="true">
        <defs>
          <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
            <path d="M100 200V.5M.5 .5H200" fill="none" />
          </pattern>
        </defs>
        <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
          <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0" />
        </svg>
        <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
      </svg>
    </div>
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
      <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
        <div class="lg:pr-4">
          <div class="lg:max-w-lg">
            <p class="text-base font-semibold leading-7 text-indigo-600">Projects</p>
            <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">1. Open Dots</h1>
            <p class="mt-6 text-xl leading-8 text-gray-700">Open Dots, representing open connections where the dots signify people, employs advanced methodologies to foster global connections. Through machine learning algorithms, it matches users based on shared interests.</p>
          </div>
        </div>
      </div>
      
      <div class="-ml-12 -mt-12 p-10 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
        <iframe title="slides for the Open Dots Project" loading="lazy" class="w-full max-w-[630px] h-[350px] rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10"
                src="https://www.canva.com/design/DAFE3DzJyVs/view?embed"
                
                allow="autoplay; fullscreen">
        </iframe>
      </div>
      
    
    
      <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
        <div class="lg:pr-4">
          <div class="max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg">
            
            
            <h2 class="mt-1 text-2xl font-bold tracking-tight text-gray-900">Features</h2>


            <ul role="list" class="mt-4 space-y-2 text-gray-600">
              <li class="font-semibold text-gray-900 flex items-start gap-3">
                <div class="w-5 flex-none text-indigo-600 " fill="currentColor" aria-hidden="true">▹</div>
                <p class="text-sm font-semibold leading-6 text-gray-600">Users have the option to enhance their anonymity by logging into Open Dots using <span class="text-base font-semibold leading-7 text-indigo-600">Metamask</span></p>
            </li>
            
              <li class="font-semibold text-gray-900 flex items-start gap-3">
                <div class="w-5 flex-none text-indigo-600" fill="currentColor" aria-hidden="true">▹</div>
                <p class="text-sm font-semibold leading-6 text-gray-600">Open Dots employs <span class="text-base font-semibold leading-7 text-indigo-600">collaborative-filtering</span> machine learning algorithms to match users based on shared interests.</p>
              </li>
              <li class="font-semibold text-gray-900 flex items-start gap-3">
                <div class="w-5 flex-none text-indigo-600" fill="currentColor" aria-hidden="true">▹</div>
                <p class="text-sm font-semibold leading-6 text-gray-600">After the matching process, it facilitates <span class="text-base font-semibold leading-7 text-indigo-600">WebRTC</span>  for seamless audio and video calls, allowing users to connect, interact, and forge friendships visually and verbally.</p>
              </li>
              

            </ul>

            <p class="mt-9 text-xl font-bold tracking-tight text-gray-900">Project Aim: <span class=" text-indigo-600" >Revolutionizing Connections-Making </span> </p>
            <p class="mt-3">Revolutionizing connection-making globally with web3, WebRTC, and collaborative filtering. Prioritizing user privacy with MetaMask login, fostering real-time connections, combating loneliness, and promoting collaborative learning and growth.</p>

            <div>
              <h2 class="text-base mt-5 font-semibold leading-7 text-indigo-600">Technologies Used :</h2>
              <ul class="mt-4 max-w-xl space-y-2 text-base leading-7 text-gray-600 lg:max-w-none flex flex-wrap justify-between">
                <!-- First Column -->
                <li class="relative flex-1 mt-2">
                    <ul>
                        <li class="font-semibold text-gray-900 flex items-start gap-3">
                            <div class="w-5 flex-none text-indigo-600" fill="currentColor" aria-hidden="true">▹ </div>
                            <p class="text-sm font-semibold leading-6 text-gray-900">React Js</p>
                        </li>
                        <li class="font-semibold text-gray-900 flex items-start gap-3">
                            <div class="w-5 flex-none text-indigo-600" fill="currentColor" aria-hidden="true">▹ </div>
                            <p class="text-sm font-semibold leading-6 text-gray-900">Firebase</p>
                        </li>
                        <li class="font-semibold text-gray-900 flex items-start gap-3">
                            <div class="w-5 flex-none text-indigo-600" fill="currentColor" aria-hidden="true">▹ </div>
                            <p class="text-sm font-semibold leading-6 text-gray-900">Web3 JS</p>
                        </li>
                    </ul>
                </li>
            
                <!-- Second Column -->
                <li class="relative pl-9 flex-1">
                    <ul>
                        <li class="font-semibold text-gray-900 flex items-start gap-3">
                            <div class="w-5 flex-none text-indigo-600" fill="currentColor" aria-hidden="true">▹ </div>
                            <p class="text-sm font-semibold leading-6 text-gray-900">Flask</p>
                        </li>
                        <li class="inline-flex font-semibold text-gray-900 items-start gap-3">
                            <div class="w-5 flex-none text-indigo-600" fill="currentColor" aria-hidden="true">▹ </div>
                            <p class="text-sm font-semibold leading-6 text-gray-900">Webrtc</p>
                        </li>
                        <li class="font-semibold text-gray-900 flex items-start gap-3">
                            <div class="w-5 flex-none text-indigo-600" fill="currentColor" aria-hidden="true">▹ </div>
                            <p class="text-sm font-semibold leading-6 text-gray-900">MetaMask</p>
                        </li>
                    </ul>
                </li>
            
                <!-- Third Column -->
                <li class="relative pl-9 flex-1">
                    <ul>
                        <!-- Add your <li> elements here -->
                    </ul>
                </li>
            </ul>
            

            </div>
            
            </div>
        </div>
      </div>
      <div class="pl-5 ml-5 mt-5 "> 
        <a class="inline-flex" href="https://opendotsbeta.netlify.app">
        <h2 class="text-base font-semibold leading-7 text-indigo-600">Website link (Beta)</h2>
        <svg class="feather feather-external-link text-indigo-600 " fill="none" height="20" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"/><polyline points="15 3 21 3 21 9"/><line x1="10" x2="21" y1="14" y2="3"/></svg>
        </a>
        </div>
    </div>

    <div class="mt-10">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
        <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
          <div class="lg:pr-4">
            <div class="lg:max-w-lg">
              <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">2. Aerox</h1>
              <p class="mt-6 text-xl leading-8 text-gray-700">Aerox is a project designed to streamline printing by automating the process and providing users with real-time updates on queue wait times. With its mobile app, users can conveniently monitor their print job's progress and retrieve it as soon as it's ready. Additionally, Aerox offers virtual queuing functionality for food ordering at cafeterias and eateries, allowing customers to browse menus, place orders, and track their status directly from their mobile devices.</p>
            </div>
          </div>
        </div>
        
        <div class="-ml-12 -mt-12 p-10 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
          <iframe   title="slides for the Aerox Project" loading="lazy" class="w-full max-w-[630px] h-[350px] rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10"
          src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFULR3s2O0&#x2F;bFmy5kNRrFaqtLb2BEbqsQ&#x2F;view?embed"
          allow="autoplay; fullscreen"
                >
          </iframe>
        </div>
        
      
      
        <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
          <div class="lg:pr-4">
            <div class="max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg">
              
              
              <h2 class="mt-1 text-2xl font-bold tracking-tight text-gray-900">Features</h2>
  
  
              <ul role="list" class="mt-4 space-y-2 text-gray-600">
                <li class="font-semibold text-gray-900 flex items-start gap-3">
                  <div class="w-5 flex-none text-indigo-600 " fill="currentColor" aria-hidden="true">▹</div>
                  <p class="text-sm font-semibold leading-6 text-gray-600"> Aerox Android App enables smooth PDF document uploads and printing, developed using JAVA, Android Studio, AWS, and Firebase.</p>
              </li>
              
                <li class="font-semibold text-gray-900 flex items-start gap-3">
                  <div class="w-5 flex-none text-indigo-600" fill="currentColor" aria-hidden="true">▹</div>
                  <p class="text-sm font-semibold leading-6 text-gray-600">Seamless in-app UPI payments facilitated through Retrofit and REST APIs, with Firebase and express.js managing backend data efficiently</p>
                </li>
                <li class="font-semibold text-gray-900 flex items-start gap-3">
                  <div class="w-5 flex-none text-indigo-600" fill="currentColor" aria-hidden="true">▹</div>
                  <p class="text-sm font-semibold leading-6 text-gray-600">Real-time communication via Socket.io ensures a user-friendly experience, complemented by a JavaFX-based desktop application for vendors, offering print monitoring and revenue analytics within the Aerox ecosystem</p>
                </li>
                
  
              </ul>
  
              <p class="mt-9 text-xl font-bold tracking-tight text-gray-900">Project Aim: <span class="text-indigo-600">Optimizing Printing and Dining Experiences</span></p>
<p class="mt-3">Aerox revolutionizes printing efficiency with  real-time queue management. It also offers virtual queuing for food ordering at cafeterias and eateries, enabling mobile browsing, order placement, and status tracking. Prioritizing convenience, sustainability, and cost-effectiveness for businesses.</p>
  
              <div>
                <h2 class="text-base mt-5 font-semibold leading-7 text-indigo-600">Technologies Used :</h2>

                <ul class="mt-4 max-w-xl space-y-2 text-base leading-7 text-gray-600 lg:max-w-none flex flex-wrap justify-between">
                  <!-- First Column -->
                  <li class="relative flex-1 mt-2">
                      <ul>
                          <li class="font-semibold text-gray-900 flex items-start gap-3">
                              <div class="w-5 flex-none text-indigo-600" fill="currentColor" aria-hidden="true">▹ </div>
                              <p class="text-sm font-semibold leading-6 text-gray-900">Java FX</p>
                          </li>
                          <li class="font-semibold text-gray-900 flex items-start gap-3">
                              <div class="w-5 flex-none text-indigo-600" fill="currentColor" aria-hidden="true">▹ </div>
                              <p class="text-sm font-semibold leading-6 text-gray-900">Firebase</p>
                          </li>
                          <li class="font-semibold text-gray-900 flex items-start gap-3">
                              <div class="w-5 flex-none text-indigo-600" fill="currentColor" aria-hidden="true">▹ </div>
                              <p class="text-sm font-semibold leading-6 text-gray-900">Android Studio Framework</p>
                          </li>
                      </ul>
                  </li>
                  
                  <!-- Second Column -->
                  <li class="relative pl-9 flex-1">
                      <ul>
                          <li class="font-semibold text-gray-900 flex items-start gap-3">
                              <div class="w-5 flex-none text-indigo-600" fill="currentColor" aria-hidden="true">▹ </div>
                              <p class="text-sm font-semibold leading-6 text-gray-900">Express.js</p>
                          </li>
                          <li class="inline-flex font-semibold text-gray-900 items-start gap-3">
                              <div class="w-5 flex-none text-indigo-600" fill="currentColor" aria-hidden="true">▹ </div>
                              <p class="text-sm font-semibold leading-6 text-gray-900">AWS</p>
                          </li>
                          <li class="font-semibold text-gray-900 flex items-start gap-3">
                              <div class="w-5 flex-none text-indigo-600" fill="currentColor" aria-hidden="true">▹ </div>
                              <p class="text-sm font-semibold leading-6 text-gray-900">REST API</p>
                          </li>
                      </ul>
                  </li>
                  
                  <!-- Third Column -->
                  <li class="relative pl-9 flex-1">
                      <ul>
                          <!-- Add your <li> elements here -->
                      </ul>
                  </li>
              </ul>
              
              
  
              </div>
              
  
  
  
              </div>
          </div>
          
        </div>
       
      </div>

        <div class="pl-5 ml-5 mt-5 "> 
        <a class="inline-flex" href="https://play.google.com/store/apps/details?id=com.aeroxlive.aeroxapplication&pcampaignid=web_share">
        <h2 class="text-base font-semibold leading-7 text-indigo-600">Play Store link (Beta)</h2>
        <svg class="feather feather-external-link text-indigo-600 " fill="none" height="20" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"/><polyline points="15 3 21 3 21 9"/><line x1="10" x2="21" y1="14" y2="3"/></svg>
        </a>
        </div>

     
      
    </div>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a href="#" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Discover more about our other innovative projects<span aria-hidden="true">→</span></a>
     
    </div>
    
  </div>
  


  <!-- second project : Aerox  -->
  
 

</section>

 