<!DOCTYPE html>
<html>
    <head>
        {{ $styles := resources.Get "css/blogs.css" | resources.PostCSS }}
        <link rel="stylesheet" href="{{ $styles.Permalink }}">
       
       
    </head>
<body>
    

  <div class="bg-white py-24 sm:py-32 lg:px-0">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="lg:text-center">
        <h2 class="text-base font-semibold leading-7 text-indigo-600 sm:text-lg">{{ with .Params.categories }}{{ . }}{{ end }}</h2>
        <p class="mt-2 text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl lg:text-4xl">{{ .Title }}</p>
        <div class="mt-6 text-lg leading-8 text-gray-600 space-x-2">
          {{ .Content }}
        </div>
      </div>
    </div>
</div>
    

    
</body>
</html>